body {
  background: #1a2035;
  font-family: "Roboto";
}
li {
  color: blue;
}

.container-grid {
  display: grid;
  place-items: center;
  min-height: 100vh;
}

.firebaseui-container.mdl-card {
  border-radius: 10px;
  box-shadow: 0px 0px 14px 0px rgba(255, 255, 255, 1);
}

.main-logo {
  max-width: 400px;
}

@media screen and (min-width: 600px) {
  .main-logo {
    max-width: 600px;
  }
}

.min-vh-75 {
  min-height: 75vh;
}

div.float-init {
  position: absolute !important;
  left: 0 !important;
}

.dark-version .form-control,
body.dark-version {
  color: #000000 !important;
}

hr.horizontal.dark {
  background: white;
}

.mb-200 {
  margin-bottom: 200px !important;
}
